#nav-wrapper {
  width: 100%;
  margin-left: 40px;
  padding: 20px;
  position: relative;
}

.handmade-logo {
  height: 70px;
}

#handmade-logo-black {
  display: none;
}

#nav-list {
  display: inline-block;
  position: absolute;
  bottom: 45px;
  margin-left: 60px;
}
.nav-item {
  color: white;
  display: inline-block;
  list-style-type: none;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  margin-right: 25px;
}

.nav-link {
  transition: all 0.2s ease-in-out;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-link:hover {
  font-weight: bold;
}

.mobile-nav-link {
  color: black;
  font-size: 30px;
}

.mobile-nav-item {
  display: none;
  margin-top: 10px;
}

.mobile-nav-item + .mobile-nav-item {
  margin-left: 20px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 600px) {
  #nav-wrapper {
    margin: 0px;
    padding: 15px;
    background: white;
    width: auto;
  }
  #nav-list {
    float: right;
    top: 25px;
    margin-left: 100px;
  }

  .nav-item {
    display: none;
  }

  .mobile-nav-item {
    display: inline-block;
  }

  #handmade-logo-black {
    display: inline-block;
    margin-right: 0px;
  }

  #handmade-logo-white {
    display: none;
  }
}
