#nav-wrapper {
  margin-left: 40px;
  padding: 20px;
}

#brand-item {
  font-size: 25px;
  font-weight: bold;
  margin-right: 50px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

#nav-list {
  display: inline-block;
}
.nav-item {
  color: white;
  display: inline-block;
  list-style-type: none;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  margin-right: 25px;
}

.nav-link {
  transition: all 0.2s ease-in-out;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  transform: scale(1.05);
}

.nav-link:hover {
  font-weight: bold;
}

.mobile-nav-link {
  color: black;
  font-size: 20px;
}

.mobile-nav-item {
  display: none;
}

.mobile-nav-item + .mobile-nav-item {
  margin-left: 20px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 600px) {
  #nav-wrapper {
    margin: 0px;
    padding: 15px;
    background: white;
  }
  #nav-list {
    float: right;
    margin-top: 5px;
  }

  #brand-item {
    margin-right: 0px;
    color: black;
  }
  .nav-item {
    display: none;
  }

  .mobile-nav-item {
    display: inline-block;
  }
}
