#naim-brand {
  background-image: url('../../assets/images/brands/naim_audio.png');
  background-position-x: -300px;
  height: calc(100vh - 110px);
}

#focal-brand {
  background-image: url('../../assets/images/brands/focal_audio.jpg');
}

#iso-acoustics-brand {
  background-image: url('../../assets/images/brands/iso_acoustics.png');
  background-size: cover;
}

#credo-audio-brand {
  background-image: url('../../assets/images/brands/credo_audio.jpeg');
  background-size: auto 120%;
  background-position-y: -200px;
  background-position-x: 300px;
}

#emmlabs-brand {
  background-image: url('../../assets/images/brands/emmlabs-brand.png');
}

#iso-acoustics-logo {
  width: 250px;
}

#credo-audio-logo {
  width: 200px;
}
#credo-logo-wrapper {
  background: rgb(184, 183, 183);
}

.brand-wrapper {
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}
.brand-logo-wrapper {
  background: rgba(255, 255, 255);
  border-radius: 10px;
  display: block;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  text-align: center;
  text-decoration: none;
}
.brand-logo {
  width: 150px;
  display: block;
}

.scroll-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.scroll-text {
  color: white;
  margin-bottom: 15px;
  text-align: center;
  background: rgba(131, 131, 131, 0.7);
  padding: 3px;
  border-radius: 5px;
}

.scroll-arrow-wrapper {
  color: rgba(0, 0, 0, 0.5);
  background: rgba(141, 141, 141, 0.8);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 15px;
  font-size: 30px;
  margin: auto;
}

.brand-visit-link {
  display: block;
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-weight: 400;
  font-size: 15px;
}

.hide {
  display: none;
}

/* Responsiveness */

/* Smart Phones */
@media only screen and (max-width: 600px) {
  #naim-brand {
    background-image: url(/handmade-audio2/static/media/naim_mobile.ad763720.png);
    background-position-x: 5px;
  }

  #focal-brand {
    background-position-x: -380px;
  }

  #iso-acoustics-brand {
    background-position-x: -300px;
  }

  #credo-audio-brand {
    background-position-x: -150px;
    background-position-y: -100px;
    background-color: white;
  }

  .brand-wrapper {
    background-size: cover;
    background-color: #000;
    background-attachment: initial;
  }

  .brand-name {
    display: none;
  }

  .brand-logo-wrapper {
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
}

/* Tablets */
@media only screen and (max-width: 768px) and (min-width: 601px) {
  #iso-acoustics-logo {
    width: 200px;
  }

  .brand-logo {
    width: 220px;
  }

  .brand-visit-link {
    display: none;
  }

  .brand-name {
    left: 45%;
  }

  #naim-brand {
    background-image: url('../../assets/images/brands/naim_mobile.png');
    background-position: center;
    background-size: 100% 100%;
  }

  .brand-wrapper {
    background-size: auto 100%;
    background-position-x: -480px;
  }
}
